NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@decoraliapintores.es
SMTP_PASSWORD=
SMTP_FROM_NAME=Decoralia Pintores
NEXT_PUBLIC_SITE_URL=
